@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Permanent+Marker&display=swap');

body, html {
  font-size: 14px;
  @include media-breakpoint-up(lg) {
    font-size: 16px;
  }
}
#app {
  font-family: Arial, 'Noto Sans TC', sans-serif;
  letter-spacing: .1em;
  color: $dark;
}
.material-symbols-sharp {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/* Chrome */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    margin: 0; 
}

.btn-primary {
  color: #fff;
}

section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  @include media-breakpoint-up(md){
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.bg-cover {
  background-position: center center;
  background-size: cover;
}


.btn-primary, .btn-primary:hover, .btn-primary.disabled, .btn-accent, .btn-accent:hover, .btn-accent:active, .btn-accent.disabled {
  color: #fff !important;
}